html { 
  height: 100VH;
  padding: 0px;
  margin: 0px;
}
body:before {
	content:"";
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1; 
	background:#D8D8D8;
	background: linear-gradient(#685584,#3A1D44);
}

body {
  padding: 0px;
  margin: 0px;
 }

.content {
  min-height: calc(100vh - 62px);
}

/*Navigation*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  flex-wrap: wrap;
  background-color: #3A1D44;
}

.nav-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.nav-ul li a {
  display: inline-block;
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  padding: 10px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: white;
  color: #3A1D44;
}

/*Hamburger*/
.hamburger {
    background-color: transparent;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    font-size: 20px;
    display: none;
}

.hamburger:focus {
    outline: none;
}

/*Main Content (From header to just before footer)*/
.main-content {
  background-color:whitesmoke;
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 24pt;
  color: #707070;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 18pt;
  color: #707070;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 14pt;
  color: #707070;
}

/*About*/
#about p {
  text-align: left;
  width: 80vw;
}

/*Testimonials*/
#testimonials img {
  width: 80px;
  height: 80px;
  border-style: none;
  border-radius: 50%;
  object-fit: cover;
  background-color: whitesmoke;
  z-index: 99;
  margin: -30px;
}

.test-div {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.clients {
  width: 40vw;
  padding: 10px 40px;
  background-color: #8874A3;
  height: 170px;
  margin: 0px 5px 20px 5px;
}

#testimonials div p {
  font-family: 'Sora Light', sans-serif;
  font-style: italic;
  color: whitesmoke;
  padding-top: 15px;
  font-size: 14pt;
}

.clients p:nth-child(2) {
  margin-left: 45%;
  margin-top: -30px;
}


/*Contact*/
#info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  max-width: 80vw;
}
#info p {
  padding-left: 20px;
  padding-right: 20px;
}
/*Footer*/
footer {
float: bottom;
background-color: #3A1D44;
color: white;
height: 40px;
width: 100%;
}

/*Forms*/
form {
  width: 80vw;
  font-family: Sora Light, sans-serif;
  color: #707070;
  font-size: 16pt;
  margin-bottom: 20px;
}

form input {
  width: 80vw;
  background-color: whitesmoke;
  border-color: #3A1D44;
}

form select {
  font-family: Sora Light, sans-serif;
  color: #707070;
  font-size: 12pt;
  width: 80vw;
  background-color: whitesmoke;
  border-color: #3A1D44;
}

form input[type="submit"] {
  width: 50%;
  font-family: Sora, sans-serif;
  font-size: 16pt;
  background-color: #8874A3;
  color: whitesmoke;
  border-color: #ffffff;
  border-style: none;
  margin-top: 20px;
}

form input[type="submit"]:hover {
  background-color: #3A1D44;
}

/*Media Queries*/

/*Mobile and tabletquery*/
@media (max-width:800px) {
  /*Top nav*/
  .nav-ul {
      display: none;
  }

  .nav-ul.show {
      display: flex;
      width: 100%;
      flex-direction: column;
  }

  .hamburger {
      display: block;
  }

  .logo {
      width: 80px;
  }

  .nav-ul li a {
      padding: 10px;
  }

  nav a:hover {
    width: 100vw;
    text-align: center;
    justify-content: center;
  }

  /*Testimonials*/
  .test-div {
    flex-direction: column;
    flex-wrap: wrap;
  }

  #testimonials img {
    width: 80px;
    height: 80px;
    border-style: none;
    border-radius: 50%;
    object-fit: cover;
    background-color: whitesmoke;
    margin: 0px auto -35px auto;
    z-index: 99;
  }

  .clients {
    width: 100vw;
    padding: 10px 10px;
    background-color: #8874A3;
    margin: 0px 0px 40px 0px;
    height: auto;
  }
}