html { 
  height: 100VH;
  padding: 0px;
  margin: 0px;
}
body:before {
	content:"";
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1; 
	background:#D8D8D8;
	background: linear-gradient(#685584,#3A1D44);
}

body {
  padding: 0px;
  margin: 0px;
 }

.content {
  min-height: calc(100vh - 62px);
}

/*Navigation*/
nav {
  background-color: #3A1D44;
  height: 125px;
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  font-size: 15pt;
  align-items: center;
 }

 nav a {
   padding: 5px;
   text-decoration: none;
   color: whitesmoke;
 }

nav a:hover {
  background-color: white;
  color: #3A1D44;
}

/*Main Content (From header to just before footer)*/
.main-content {
  background-color:whitesmoke;
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-family: Raleway, sans-serif;
  font-size 24pt;
  color: #707070;
}

h2 {
  font-family: Raleway, sans-serif;
  font-size 18pt;
  color: #707070;
}

p {
  font-family: Raleway, sans-serif;
  font-size: 14pt;
  color: #707070;
}

/*About*/
#about p {
  text-align: left;
  width: 80vw;
}

/*Testimonials*/
#testimonials img {
  width: 80px;
  height: 80px;
  border-style: solid;
  border-color: #3A1D44;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: -35px;
}

#testimonials div {
  width: 100vw;
  padding: 10px 10px;
  background-color: #8874A3;
  margin-bottom: 40px;
}

#testimonials div p {
  font-family: Sora Light, sans-serif;
  font-style: italic;
  color: whitesmoke;
  padding-top: 15px;
  font-size: 14pt;
}

.clients p:nth-child(2) {
  margin-left: 50vw;
  margin-top: -30px;
}


/*Contact*/
#contact p {
  text-align: left;
  width: 80vw;
}


/*Footer*/
footer {
float: bottom;
background-color: #3A1D44;
color: white;
height: 40px;
width: 100%;
}

/*Forms*/
form {
  width: 80vw;
  font-family: Sora Light, sans-serif;
  color: #707070;
  font-size: 16pt;
  margin-bottom: 20px;
}

form input {
  width: 80vw;
  background-color: whitesmoke;
  border-color: #3A1D44;
}

form select {
  font-family: Sora Light, sans-serif;
  color: #707070;
  font-size: 12pt;
  width: 80vw;
  background-color: whitesmoke;
  border-color: #3A1D44;
}

form input[type="submit"] {
  width: 50%;
  font-family: Sora, sans-serif;
  font-size: 16pt;
  background-color: #8874A3;
  color: whitesmoke;
  border-color: #ffffff;
  border-style: none;
  margin-top: 20px;
}

form input[type="submit"]:hover {
  background-color: #3A1D44;
}

/*Media Queries*/
@media (min-width:769px) {
  nav {
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
  }

  nav a {
    min-width: 75px;
  }

  /*Testimonials*/
  #testimonials div {
    
  }
  
}